/* CSS Resets */

* {
  box-sizing: border-box;
}

body {
  font-family: "PP Mori", sans-serif;
  margin: 0;
  color: #fdfdfc;
  background-color: #191818;
  font-weight: 200;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  font-weight: 200;
}
/* Remove default list styles */
ul {
  list-style: none;
  padding: 0;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

/* NavBar */
.navbar {
  height: 50px;
  width: 454px;
  padding: 10px 12px;
  background-color: #444443;
  opacity: 70%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  width: 171.56px;
  height: 30px;
}
.contact-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: #fdfdfc;
  font-family: "PP Mori", sans-serif;
  cursor: pointer;
  font-weight: 200;
}
/* Banner */
.banner {
  display: flex;
  justify-content: center;
  font-size: 56px;
  text-align: center;
}
.banner-content {
  padding: 210px 0 150px 0;
}
.banner-content h2,
.banner-content p {
  font-size: 56px;
  line-height: 1;
  font-weight: 200;
}
/* About Section */
.about-section {
  display: flex;
  gap: 15px;
  height: calc(100vh - 100px);
  padding: 0 15px;
}
.about-section h2 {
  font-size: 36px;
  padding-bottom: 30px;
}
/* Left Section - Team Info */
.team-info {
  flex-basis: 33.33%;
  overflow-y: scroll; /* Ensure scrolling is enabled */
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 100%;
}

/* Hide scrollbar */
.team-info::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Webkit-based browsers */
}

/* Optional: style the scrollbar thumb when visible */
.team-info::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

.card {
  margin-bottom: 15px;
}

.card-inner {
  border-radius: 5px;
}

.team-card {
  background-color: #191818;
  border-radius: 5px;
}

.card-content {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-content h3 {
  font-size: 18px;
}
.card-content p {
  font-size: 16px;
  line-height: 1.3;
  width: 90%;
}
.card-content a {
  text-decoration: underline;
  font-size: 14px;
}

/* Right Section - Services Info */
.services-info {
  flex-basis: 66.67%;
  display: flex;
  gap: 15px;
  padding-top: 88.19px;
}

.service-card {
  flex-basis: 50%;
}
.service-card h4 {
  margin-bottom: 20px;
}
.service-card .card-inner {
  padding: 25px;
  background-color: #2a2a2a;
  height: 560px;
  border-radius: 5px;
  font-size: 22px;
}

.service-card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.service-card li {
  width: max-content;
  cursor: pointer;
}
.service-card li,
.service-card p {
  opacity: 70%;
}
/* Projects */
.project {
  padding: 0 15px;
  margin-bottom: 150px;
}
.project h2 {
  margin-bottom: 24px;
}
.project p {
  margin-bottom: 48px;
}
.project-info {
  width: 453px;
  font-size: 22px;
}
.project-img,
.project-img-small {
  height: 302px;
  border-radius: 5px;
}
.project-img {
  width: 453px;
}
.project-img-small {
  width: 217px;
}
.projects-slider {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  scrollbar-width: none; /* Hides scrollbar for Firefox */
  -ms-overflow-style: none; /* Hides scrollbar for IE/Edge */
}

.projects-slider::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari */
}
.project-video {
  width: 453px; /* Match image width */
  height: 302px; /* Match image height */
  border-radius: 8px; /* Optional: Add rounded corners */
}
